<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Powerhouse" connectionString="Data Source=BHF-PHSQL01;Initial Catalog=PH_PROD;User ID=dbxx;Password=dbxx00"/>
    <add name="GP" connectionString="Data Source=BHF-GP01;Initial Catalog=BHFNY;User ID='BHF-USA\ppandya';Password=avaya@BHF#; Trusted_Connection=True;"/>
    <add name="STG" connectionString="Data Source=BHF-Parth;Initial Catalog=STG;User ID=data;Password=data;"/>
  </connectionStrings> 
</configuration>